/*eslint-disable*/
import { Module } from '@nestjs/common';

{{#apiInfo}}
{{#apis}}
import { {{classname}}ApiModule } from './{{apiFilename}}/{{apiFilename}}-api.module';
{{/apis}}
{{/apiInfo}}

@Module({
    imports: [
        {{#apiInfo}}
        {{#apis}}
        {{classname}}ApiModule,
        {{/apis}}
        {{/apiInfo}}
    ],
})
export class ApiModule {}
