/*eslint-disable*/
import { Module } from '@nestjs/common';

import { {{ classname }}ApiController } from './{{ apiFilename }}-api.controller';
import { {{ classname }}Api } from './{{ apiFilename }}-api';
import { {{ classname }}ApiImplementation, {{ classname }}ApiImplementationModule } from './{{ apiFilename }}-api.implementation';

@Module({
    imports: [
        {{ classname }}ApiImplementationModule,
    ],
    controllers: [{{ classname }}ApiController],
    providers: [
        // We want to use the api implementation provided by its module, rather than the base class.
        // To do that, we need to provide the injected service in place of its parent service
        {
            provide: {{ classname }}Api,
            useExisting: {{ classname }}ApiImplementation,
        }
    ],
})
export class {{classname}}ApiModule {}