/*eslint-disable*/
{{>license-info}}
import { z } from 'zod';

{{#imports}}
import { {{ classname }}, {{ classname }}Schema } from '{{ filename }}';
{{/imports}}
import { ApiContext } from '{{importRoot}}api/api.types'
{{#operations}}
{{#operation}}

/* NOTE: Cookies are not currently supported. It would be a relatively simple addition, following: https://docs.nestjs.com/techniques/cookies. Development effort is needed */

/**
 * ---------------------------------------
 * {{operationId}}
 * ---------------------------------------
 */
 {{#hasFormParams}}

/**
 * Form params (@Body) for the {{ operationId }} handler (without file params)
 */
export const {{ operationIdCamelCase }}FormParamsSchema = z.object({
{{#formParams}}
{{^isFile}}
{{#description}}
    /** {{{.}}} */
{{/description}}
    {{paramName}}: {{>params/paramZodField}},
{{/isFile}}
{{/formParams}}
});
export type {{ operationIdCamelCase }}FormParams = z.infer<typeof {{ operationIdCamelCase }}FormParamsSchema>;
{{/hasFormParams}}
{{#hasHeaderParams}}

/**
 * Header params for the {{ operationId }} handler
 */
export const {{ operationIdCamelCase }}HeadersSchema = z.object({
{{#headerParams}}
{{#description}}
    /** {{{.}}} */
{{/description}}
    {{paramName}}: {{>params/paramZodField}},
{{/headerParams}}
});
export type {{ operationIdCamelCase }}Headers = z.infer<typeof {{ operationIdCamelCase }}HeadersSchema>;
{{/hasHeaderParams}}
{{#hasQueryParams}}

/**
 * Query params for the {{ operationId }} handler
 */
export const {{ operationIdCamelCase }}QueryParamsSchema = z.object({
{{#queryParams}}
{{#description}}
    /** {{{.}}} */
{{/description}}
    {{paramName}}: {{>params/paramZodField}},
{{/queryParams}}
});
export type {{ operationIdCamelCase }}QueryParams = z.infer<typeof {{ operationIdCamelCase }}QueryParamsSchema>;
{{/hasQueryParams}}
{{#hasPathParams}}

/**
 * Path params for the {{ operationId }} handler
 */
export const {{ operationIdCamelCase }}PathParamsSchema = z.object({
{{#pathParams}}
{{#description}}
    /** {{{.}}} */
{{/description}}
    {{paramName}}: {{>params/paramZodField}},
{{/pathParams}}
});
export type {{ operationIdCamelCase }}PathParams = z.infer<typeof {{ operationIdCamelCase }}PathParamsSchema>;
{{/hasPathParams}}

export type {{ operationIdCamelCase }}Context = ApiContext<
{{#hasBodyParam}}
{{#bodyParams.0}}
    {{{dataType}}},
{{/bodyParams.0}}
{{/hasBodyParam}}
{{#hasFormParams}}
    {{#vendorExtensions.x-has-non-file-form-params}}{{ operationIdCamelCase }}FormParams & {{/vendorExtensions.x-has-non-file-form-params}}{
        {{#formParams}}
        {{#isFile}}
        {{paramName}}: {{#isArray}}Express.Multer.File[]{{/isArray}}{{^isArray}}Express.Multer.File{{/isArray}};
        {{/isFile}}
        {{/formParams}}
    },
{{/hasFormParams}}
{{^hasBodyOrFormParams}}
    undefined,
{{/hasBodyOrFormParams}}
{{#hasHeaderParams}}
    {{ operationIdCamelCase }}Headers,
{{/hasHeaderParams}}
{{^hasHeaderParams}}
    undefined,
{{/hasHeaderParams}}
{{#hasQueryParams}}
    {{ operationIdCamelCase }}QueryParams,
{{/hasQueryParams}}
{{^hasQueryParams}}
    undefined,
{{/hasQueryParams}}
{{#hasPathParams}}
    {{ operationIdCamelCase }}PathParams
{{/hasPathParams}}
{{^hasPathParams}}
    undefined
{{/hasPathParams}}
>;
{{/operation}}
{{/operations}}
