import { Injectable, Module, NotImplementedException } from '@nestjs/common';

{{#imports}}
import { type {{ classname }}, {{ classname }}Schema } from '{{ filename }}';
{{/imports}}
import { {{ classname }}Api } from './{{ apiFilename }}-api';
import { {{#operations}}{{#operation}}{{ operationIdCamelCase }}Context{{^-last}}, {{/-last}}{{/operation}}{{/operations}} } from './{{ apiFilename }}-api.types';

@Injectable()
export class {{ classname }}ApiImplementation extends {{ classname }}Api {
    {{#operations}}
    {{#operation}}
    /**
    {{#description}}
     * {{{.}}}
    {{/description}}
    {{#notes}}
     * {{{.}}}
    {{/notes}}
     */
    async {{operationId}}(context: {{ operationIdCamelCase }}Context): Promise<{{#returnType}}{{{.}}}{{/returnType}}{{^returnType}}void{{/returnType}}> {
        /**
         * Implementation logic goes here
         */
        throw new NotImplementedException();
    }

    {{/operation}}
    {{/operations}}
}

@Module({
    imports: [
        // Add custom imports here for your implementation dependencies
    ],
    providers: [{{ classname }}ApiImplementation],
    exports: [{{ classname }}ApiImplementation],
})
export class {{ classname }}ApiImplementationModule {}
