{{>license-info}}
{{#models}}
{{#model}}
import { z } from 'zod';

{{#tsImports}}
import { {{classname}}, {{classname}}Schema } from '{{filename}}';
{{/tsImports}}

{{#description}}
/**
 * {{{.}}}
 */
{{/description}}
{{#isEnum}}
{{>models/modelEnum}}
{{/isEnum}}
{{^isEnum}}
{{#isAlias}}
{{>models/modelAlias}}
{{/isAlias}}
{{^isAlias}}
{{#oneOf}}
{{#-first}}{{>models/modelOneOf}}{{/-first}}
{{/oneOf}}
{{^oneOf}}
{{>models/modelGeneric}}
{{/oneOf}}
{{/isAlias}}
{{/isEnum}}
{{/model}}
{{/models}}
