{{#description}}
/**
 * {{{.}}}
 */
{{/description}}
{{#required}}
@IsNotEmpty()
{{/required}}
{{^required}}
@IsOptional()
{{/required}}
{{#isString}}
@IsString()
{{/isString}}
{{#isNumeric}}
@IsNumber()
{{/isNumeric}}
{{#isBoolean}}
@IsBoolean()
{{/isBoolean}}
{{#isDate}}
@IsDateString()
{{/isDate}}
{{#isDateTime}}
@IsDateString()
{{/isDateTime}}
{{#isArray}}
@IsArray()
{{/isArray}}
{{#isEnum}}
@IsEnum({{{datatypeWithEnum}}})
{{/isEnum}}
{{^isPrimitiveType}}
{{#isArray}}
{{^items.isPrimitiveType}}
@Type(() => {{items.dataType}})
{{/items.isPrimitiveType}}
{{/isArray}}
{{^isArray}}
@Type(() => {{dataType}})
{{/isArray}}
{{/isPrimitiveType}}
@Expose()