{{#hasImports}}
import {
    {{#imports}}
    {{{.}}}Schema,
    {{/imports}}
} from './';

{{/hasImports}}
/**
 * @type {{classname}}{{#description}}
 * {{{.}}}{{/description}}
 * @export
 */
export const {{classname}}Schema = z.union([{{#oneOf}}{{{.}}}Schema{{^-last}}, {{/-last}}{{/oneOf}}]);

export type {{classname}} = z.infer<typeof {{classname}}Schema>;
