{{#hasEnums}}
{{#vars}}
{{#isEnum}}
export enum {{classname}}{{enumName}} {
{{#allowableValues}}
{{#enumVars}}
    {{name}} = {{{value}}}{{^-last}},{{/-last}}
{{/enumVars}}
{{/allowableValues}}
}

export const {{classname}}{{enumName}}Schema = z.enum([{{#allowableValues}}{{#enumVars}}{{classname}}{{enumName}}.{{name}}{{^-last}}, {{/-last}}{{/enumVars}}{{/allowableValues}}] as const);

{{/isEnum}}
{{/vars}}
{{/hasEnums}}
